{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a CPT - Aplicativo de Cargue de Planes de Trabajo</title>
    <link rel="stylesheet" href="{% static 'appCPT/css/style0.css' %}">
</head>
<body>
    <div class="header">
        <h1>Bienvenido a CPT - Aplicativo de Cargue de Planes de Trabajo</h1>
    </div>
    <div class="bg-image">
        <div class="container">
            <div class="module">
                <img src="{% static 'appCPT/images/admin.png' %}" alt="Módulo Administrador">
                <h2>Módulo Administrador</h2>
                <a href="http://localhost:8000/academic_management/">
                    <button>Ingresar</button>
                </a>
            </div>
            <div class="module">
                <img src="{% static 'appCPT/images/docente.png' %}" alt="Módulo Docente">
                <h2>Módulo Docente</h2>
                <a href="http://localhost:8000/signin/">
                    <button>Ingresar</button>
                </a>
            </div>
        </div>
    </div>
    <div class="barra-azul"></div>
</body>
</html>

